<div class="stop-row" data-index="{{ loop.index0 }}">
  <div class="left-time">
    <div class="scheduled {% if stop.delay != 0 %}crossed{% endif %}">
      {{ stop.time }}
    </div>

    <div class="updated {% if stop.delay != 0 %}red{% endif %}">
      {{ stop.updated_time }}
    </div>
  </div>

  <div class="line-area">
    <div class="line"></div>
    <div class="dot"></div>
  </div>

  <div class="right-info">
    <div class="stop-name">{{ stop.name }}</div>

    <div class="editor">
      <input type="text" data-field="name" value="{{ stop.name }}">
      <input type="time" data-field="time" value="{{ stop.time }}">
      <input type="number" data-field="delay" value="{{ stop.delay }}">
      <button data-action="sub">-1</button>
      <button data-action="add">+1</button>
      <button data-action="delete" class="del">Delete</button>
    </div>
  </div>
</div>
